.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore sensitive configuration files
config/secrets/*.env*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Simple way to keep files but ignore them from Git
_*
